{% extends 'overlay_base.html' %}
{% block title %}
Smarl O dash
{% endblock %}
{% block content %}
<style>
  #wrap { width: 600px; height: 390px; padding: 0; overflow: hidden; }
  #fullFrame { width: 1000; height: 1000; border: 1px solid black; }
  #fullFrame { zoom: 0.9; -moz-transform: scale(0.5); -moz-transform-origin: 0 0;  }
  #sideFrame { width: 500; height: 600; border: 1px solid black; }
  #sideFrame { zoom: 0.75; -moz-transform: scale(0.75); -moz-transform-origin: 0 0; }
</style>
    
  <iframe id="fullFrame" src="{{url_for('smarl_intro_board')}}" title="Intro Display"></iframe>
  <iframe id="fullFrame" src="{{url_for('smarl_season_board')}}" title="Qualifying Results"></iframe>
  <iframe id="fullFrame" src="{{url_for('smarl_finish_board')}}" title="Race Results"></iframe>

  <iframe id="sideFrame" src="{{url_for('smarl_qualifying_board')}}" title="Qualifying Split"></iframe>
  
  <iframe id="sideFrame" id="frame" src="{{url_for('smarl_status_board')}}" title="Race Status"></iframe>
  <iframe id="sideFrame" src="{{url_for('smarl_split_board')}}" title="Racing Splits"></iframe>
  <iframe id="sideFrame" src="{{url_for('smarl_combo_board')}}" title="Lap Analysis"></iframe>


  <script type="text/javascript">
   var smarl_data  = [] 
   // Helper functions
    function findObjectByKey(array, key, value) {
      for (var i = 0; i < array.length; i++) {
          if (array[i][key] === value) {
              return array[i];
          }
      }
      return null;
  }
  function findIndexByKey(array, key, value) {
      for (var i = 0; i < array.length; i++) {
          if (array[i][key] === value) {
              return i;
          }
      }
      return null;
  }
  // SOCKET FUNCTIONS
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on( 'connect', function() {
      socket.emit( 'getJson', {
        data: 'getJson'
      } )
     
    socket.on( 'outgoingJson', function( data ) {
      var racerID = data.id
      var dataIndex = findIndexByKey(smarl_data,'id',racerID)
      if (dataIndex == null ){
        smarl_data.push(data)
      }else{
        smarl_data[dataIndex] = data
      }
      console.log(smarl_data)
    })})

  </script>
  <br>
</div>
{% endblock %}